body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
}
div {
  text-align: center;
}
.container {
  background-color: wheat;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  width: 50%;
  text-align: center;
}
.list {
  background-color: lightcoral;
  width: 80%;
  border-radius: 10px;
}
li {
  list-style: none;
}
button {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  transition: 0.5s;
}
button:hover {
  background-color: #333;
  color: #fff;
}
#result {
  margin-top: 20px;
  font-size: 25px;
  color: salmon;
}

.spring {
  background-color: lightpink;
}
.summer {
  background-color: lightyellow;
}
.autumn {
  background-color: sandybrown;
}
.winter {
  background-color: lightblue;
}
