div {
  width: 50%;
  height: 50%;
  padding: 20px;
  border-radius: 15px;
  border: 1px solid #ddd;
}
input {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ddd;
}
img {
  width: 150px;
  border-radius: 25px;
}

.join-button {
  background-color: lightcoral;
  border: none;
  padding: 16px;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
}
.join-button:hover {
  background-color: crimson;
  color: white;
  /*
    transform: scale
    마우스를 버튼 위로 올릴 경우 버튼의 몸집을 살짝 키우거나 줄이는 것
    */
  transform: scale(1.05);
}
